<!DOCTYPE html>
<html>
<head>
    <title>Загрузка данных</title>
</head>
<body>
    <form method = "POST" enctype="multipart/form-data" action = "/">
        <h2>Добавьте файл routes.csv </h2>
        <input type="file" name="file1" accept=".csv">
        <h2>Добавьте файл safezones.csv </h2>
        <input type="file" name="file2" accept=".csv">
        <h2>Введите id пользователя </h2>
        <input name="inputUsername">
        <input type = "submit" value="Загрузить">
    </form>
</body>
</html>